:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "DM Sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h4 {
  /* font-weight: 500; */
}
p {
  font-weight: 400;
  font-size: 12px;
}

.container {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.5em;
  transition: all 0.3s ease-in;
  padding: 2em;
}

.box {
  /* font-size: 18px; */
  border-radius: 0.4em;
  position: relative;
  padding: 1em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 100px;
  height: auto;
}
.three,
.eight {
  background-color: var(--Yellow-500);
}
.six,
.two {
  background-color: var(--White);
}
.one,
.five {
  background-color: var(--Purple-500);
  color: var(--White);
}
.one image,
.five image {
  height: auto;
}

.one {
  font-weight: 400;
  font-size: 30px;
  grid-area: 1/2/3/4;
  text-align: center;
}

.one img {
  width: 50%;
  margin: 10px;
}
.two {
  grid-area: 3 / 2 / 5 / 3;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.two img{
  width: 120%;
  position: absolute;
  top: 20px;
  right: -50px;
}
.three {
  grid-area: 3 / 3 / 5 / 4;
}
.four {
  background-color: var(--Purple-100);
  grid-area: 1 / 4 / 5 / 5;
}
.five {
  grid-area: 5 / 3 / 7 / 5;
  flex-direction: row;
}
.five img{
  
}
.six {
  grid-area: 5 / 2 / 7 / 3;
 align-items: flex-start;
 gap: 20px;
 line-height: .5;
}
.six h4{
  font-size: 28px;
}
.six img{
  margin: auto 0;
  width: 80%;
}
.seven {
  background-color: var(--Yellow-100);
  grid-area: 1 / 1 / 4 / 2;
}
.eight {
  grid-area: 4 / 1 / 7 / 2;
}
.eight,.seven,.two{
    letter-spacing: -1px;
    line-height: 19px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.seven img ,.eight img {
  width: 110%;
}
